*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px;
}

#text {
  
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(0, 100%, 30%);
    border: 1px solid hsl(0, 100%, 20%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    text-decoration:none;
    text-align:center;
    font: 400 15px Gotham Rounded;
}

.btn:hover {
    border-color: black;
    background-color: hsl(0, 100%, 40%);
}

.menu-container {
}

.menu-button {
    background-color: blue;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    text-decoration:none;
    text-align:center;
}
